PULSEOPS_ENVIRONMENT=local
PULSEOPS_DATABASE_URL=sqlite+pysqlite:///./pulseops.db
PULSEOPS_AUTO_CREATE_SCHEMA=1
PULSEOPS_SEED_DEMO_DATA=1

PULSEOPS_PULSEWATCH_BASE_URL=http://pulsewatch:8000
PULSEOPS_PULSEWATCH_API_KEY=
PULSEOPS_PULSEWATCH_CALLBACK_ENABLED=0
PULSEOPS_NOTIFICATION_SERVICE_URL=http://notification-service:8000
PULSEOPS_NOTIFICATION_SERVICE_API_KEY=
PULSEOPS_NOTIFICATION_CALLBACK_ENABLED=0

PULSEOPS_HTTP_TIMEOUT_SECONDS=5
PULSEOPS_LOG_LEVEL=INFO
